
<div id="chart-option">
  <div class="container">
    <div class="row header">
      <h3><%= t "business.plans.title" %></h3>
      <p>
        <%= t "business.plans.sub_title" %>
      </p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="chart clearfix">
          <div class="features-col col-sm-6">
            <div class="header">
              <%= t "business.plans.features" %>
            </div>
            <div class="spec">
              <span class="icon"><i class="fa fa-users"></i></span>  <%= t "business.plans.feature_1" %>
            </div>
            <div class="spec">
              <span class="icon"><i class="fa fa-gift"></i></span>
               <%= t "business.plans.feature_2" %>
            </div>
            <div class="spec">
              <span class="icon"><i class="fa fa-credit-card"></i></span>
                  <%= t "business.plans.feature_3" %>
            </div>
            <div class="spec">
              <span class="icon"><i class="fa fa-paper-plane"></i></span>
                  <%= t "business.plans.feature_4" %>
            </div>
            <div class="spec">
              <span class="icon"><i class="fa fa-bar-chart"></i></span>
                <%= t "business.plans.feature_5" %>
            </div>
            <div class="spec">
              <span class="icon"><i class="fa fa-refresh"></i></span>
               <%= t "business.plans.feature_6" %>            </div>
            <div class="spec">
              <span class="icon"><i class="fa fa-mobile"></i></span>
               <%= t "business.plans.feature_7" %>            </div>
            <div class="spec">
              <span class="icon"><i class="fa fa-connectdevelop"></i></span>
               <%= t "business.plans.feature_8" %>            </div>
            <div class="spec">
              <span class="icon"><i class="fa fa-pie-chart"></i></span>
               <%= t "business.plans.feature_9" %>            </div>
            <div class="spec last">
              <span class="icon"><i class="fa fa-rocket"></i></span>
               <%= t "business.plans.feature_10" %>            </div>
            <div class="spec last">
              <span class="icon"><i class="fa fa-map-marker"></i></span>
               <%= t "business.plans.feature_11" %>            </div>
          </div>
          <div class="plan-col col-sm-2">
            <div class="header">
              <%= t "business.plans.plan_basic" %>
              <div class="price">
                35€ / <%= t "business.plans.month" %> / <%= t "business.plans.store" %>
              </div>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">&nbsp;</div>
            <div class="spec">&nbsp;</div>
            <div class="spec">&nbsp;</div>
            <div class="spec"><p class="align-center"><%= t "business.plans.ask" %></p></div>
            <%= link_to_i18n (t "menu.contact" ), "/contact.html", class: "button button-small" %>
          </div>
          <div class="plan-col col-sm-2">
            <div class="header">
              <%= t "business.plans.plan_premium" %>
              <div class="price">
                <%= t "business.plans.ask_price" %>
              </div>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">&nbsp;</div>
            <div class="spec"><p class="align-center"><%= t "business.plans.ask" %></p></div>
            <%= link_to_i18n (t "menu.contact" ), "/contact.html", class: "button button-small" %>
          </div>
          <div class="plan-col last col-sm-2">
            <div class="header">
              <%= t "business.plans.plan_custom" %>
              <div class="price">
                <%= t "business.plans.ask_price" %>
              </div>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec"><p class="align-center"><%= t "business.plans.ask" %></p></div>
            <%= link_to_i18n (t "menu.contact"), "/contact.html", class: "button button-small" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row message">
      <p>
        <%= t "business.plans.features_sub_title" %>
<!--         <a href="/contact.html">free plan</a>. -->
      </p>
    </div>
    <div class="row faq">
      <div class="col-md-12">
        <div class="row header">
          <div class="col-md-12">
            <h3><%= t "business.plans.faqs" %></h3>
          </div>
        </div>
        <div class="row questions">
          <div class="col-md-6">
            <div class="question">
              <strong><%= t "business.plans.faq_title_1" %></strong>
              <p>
                <%= t "business.plans.faq_body_1" %>
              </p>
            </div>
            <div class="question">
              <strong><%= t "business.plans.faq_title_2" %></strong>
              <p>
                <%= t "business.plans.faq_body_2" %>
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="question">
              <strong><%= t "business.plans.faq_title_3" %></strong>
              <p>
                <%= t "business.plans.faq_body_3" %>
              </p>
            </div>
            <div class="question">
              <strong><%= t "business.plans.faq_title_4" %></strong>
              <p>
                <%= t "business.plans.faq_body_4" %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

