<div id="home4">
  <div id="second-option">
    <div class="container">
      <div class="row">
        <div class="col-md-6 feature">
          <img src="/images/circle-icons/one-color/smartphone.png" alt="creditcard" />
          <strong><%= t "customer.features_title_1" %></strong>
          <p><%= t "customer.features_body_1" %></p>
        </div>
        <div class="col-md-6 feature">
          <img src="/images/circle-icons/one-color/money.png" alt="dev" />
          <strong><%= t "customer.features_title_2" %></strong>
          <p><%= t "customer.features_body_2" %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 feature">
          <img src="/images/circle-icons/one-color/present.png" alt="support" />
          <strong><%= t "customer.features_title_3" %></strong>
          <p><%= t "customer.features_body_3" %></p>
        </div>
        <div class="col-md-6 feature">
          <img src="/images/circle-icons/one-color/heart.png" alt="globe" />
          <strong><%= t "customer.features_title_4" %></strong>
          <p><%= t "customer.features_body_4" %></p>
        </div>
      </div>
    </div>
  </div>
</div>