

    <div  class="footer-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-2 menu">
          <h3><%= t "menu.for_clients" %></h3>
          <ul>
                <li>
                  <%= link_to_i18n (t "menu.what_is_loyal_guru"), '/' %>
                </li>
                <li>
                  <%= link_to_i18n (t "menu.download_the_app"), '/download.html' %>
                </li>
              </ul>
        </div>
        <div class="col-sm-2 menu">
          <h3><%= t "menu.for_business" %></h3>
          <ul>
                <li>
                    <%= link_to_i18n 'Home', '/business/index.html' %>
                </li>
                <li>
                    <%= link_to_i18n (t "menu.loyalty"), '/business/loyalty.html' %>
                </li>
                <li>
                    <%= link_to_i18n 'Marketing', '/business/marketing.html' %>
                </li>
                <li>
                    <%= link_to_i18n (t "menu.operations"), '/business/operations.html' %>
                </li>
                <li><%= link_to_i18n (t "menu.download_the_app"), '/business/download.html' %></li>
                <li>
                    <%= link_to_i18n (t "menu.support"), '/business/support.html' %>
                </li>
              </ul>
        </div>
        <div class="col-sm-2 menu">
          <h3>Loyal Guru</h3>
          <ul>
            <!--<li>
                <a href="blog.html">Blog</a>
            </li> -->
            <li><%= link_to_i18n (t "menu.contact"), '/business/contact.html' %></li>
            <li><%= link_to_i18n (t "menu.privacy_policy"), '/privacy_policy.html' %></li>
            <li><%= link_to_i18n (t "menu.terms"), '/merchants_terms_of_use.html' %></li>
            <li><%= link_to_i18n 'Cookies', '/cookies.html' %></li>
            <li><%= link_to_i18n (t "menu.support"), '/support.html' %></li>
          </ul>
        </div>
        <div class="col-sm-2 menu">
          <h3>Social Media</h3>
          <ul>
                <li>
                  <a href="http://facebook.com/yourloyalguru" target="_blank">Facebook</a>
                </li>
                <li>
                    <a href="http://twitter.com/loyalguru" target="_blank">Twitter</a>
                </li>
              </ul>
        </div>
        <div class="col-sm-4 menu">

            <h3>
              <%= t "menu.contact" %>
            </h3>
            <br/>
            <p>Llacuna 162-164<br/>
            Barcelona, 08018<br/>
            España
            </p>
            <p><strong>T:</strong> +34 93 551 14 43</p>
            <p><strong>M:</strong> info@loyal.guru</p>
          </ul>
          </div>
      </div>
      <div class="row credits">
        <div class="col-md-12">
          Copyright © 2015. Loyal Guru
        </div>
      </div>
    </div>
  </div>