<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <% if current_page.data.title %>
    <title><%= t current_page.data.title %></title>
  <% else %>
    <meta name="description" content="<%= t "business.home.seo.title" %>">
  <% end %>

  <% if current_page.data.description %>
    <meta name="description" content="<%= t current_page.data.description %>">
  <% else %>
    <meta name="description" content="<%= t "business.home.seo.description" %>">
  <% end %>


  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" href="/images/resources/favicon.ico" type="image/x-icon" />

  <!-- stylesheets -->

    <!-- React -->
    <%= stylesheet_link_tag "compiled/theme.css" %>
    <%= stylesheet_link_tag "vendor/animate.css" %>
    <%= stylesheet_link_tag "vendor/brankic.css" %>
    <%= stylesheet_link_tag "cookiecuttr.css" %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">    <!-- Custom -->
    <%= stylesheet_link_tag "styles.css" %>

  <!-- javascript -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <%= javascript_include_tag "jquery.cookie.js" %>
    <%= javascript_include_tag "jquery.cookiecuttr.js" %>
    <%= javascript_include_tag "bootstrap/bootstrap.min.js" %>
    <%= javascript_include_tag "theme.js" %>

  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>