<%= partial "partials/header" %>

<body id="<%= current_page.data.bodyId%>" class="customer">

  <%= partial("customer/partials/navbar", :locals => { :htmlClass => current_page.data.navbarClass }) %>

  <% if current_page.data.wrapped %>
		<div class="container"><div class="row"><div class="col-md-12">
  <% end %>

	  <%= yield %>

  <% if current_page.data.wrapped %>
	  </div></div></div>
  <% end %>

  <%= partial "partials/footer_menu" %>

<%= partial "partials/footer" %>
