
<div id="chart-option">
  <div class="container">
    <div class="row header">
      <h3>Planes disponibles</h3>
      <p>
        Descubre el plan que mejor se adapte a tus necesidades
      </p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="chart clearfix">
          <div class="features-col col-sm-6">
            <div class="header">
              Funcionalidades
            </div>
            <div class="spec">
              <span class="icon"><i class="fa fa-users"></i></span> Segmentación de clientes
            </div>
            <div class="spec">
              <span class="icon"><i class="fa fa-gift"></i></span>
               Programa de puntos
            </div>
            <div class="spec">
              <span class="icon"><i class="fa fa-credit-card"></i></span>
               Sistema de cupones personalizados
            </div>
            <div class="spec">
              <span class="icon"><i class="fa fa-paper-plane"></i></span>
               Creación de campañas (SMS/MAIL/PUSH)
            </div>
            <div class="spec">
              <span class="icon"><i class="fa fa-bar-chart"></i></span>
              Dashboard de analitica
            </div>
            <div class="spec">
              <span class="icon"><i class="fa fa-refresh"></i></span>
              Sincronización datos ERP
            </div>
            <div class="spec">
              <span class="icon"><i class="fa fa-mobile"></i></span>
              Store manager App
            </div>
            <div class="spec">
              <span class="icon"><i class="fa fa-connectdevelop"></i></span>
              API ( integración TPV / e-commerce / etc.. )
            </div>
            <div class="spec">
              <span class="icon"><i class="fa fa-pie-chart"></i></span>
              Conector Business Intelligence
            </div>
            <div class="spec last">
              <span class="icon"><i class="fa fa-rocket"></i></span>
              Marca Blanca ( Customer App propia )
            </div>
            <div class="spec last">
              <span class="icon"><i class="fa fa-map-marker"></i></span>
              Beacons ( Marketing de proximidad )
            </div>
          </div>
          <div class="plan-col col-sm-2">
            <div class="header">
              Básico
              <div class="price">
                35€ / mes / tienda
              </div>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">&nbsp;</div>
            <div class="spec">&nbsp;</div>
            <div class="spec">&nbsp;</div>
            <div class="spec"><p class="align-center">consultar</p></div>
            <%= link_to "Contacta", "/business/contact.html", class: "button button-small" %>
          </div>
          <div class="plan-col col-sm-2">
            <div class="header">
              Premium
              <div class="price">
                consultar precio
              </div>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">&nbsp;</div>
            <div class="spec"><p class="align-center">consultar</p></div>
            <%= link_to "Contacta", "/business/contact.html", class: "button button-small" %>
          </div>
          <div class="plan-col last col-sm-2">
            <div class="header">
              Personalizado
              <div class="price">
                consultar precio
              </div>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec">
             <%= image_tag "checkmark.png", :class => "check" ,:alt=>"checkmark" %>
            </div>
            <div class="spec"><p class="align-center">consultar</p></div>
            <%= link_to "Contacta", "/business/contact.html", class: "button button-small" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row message">
      <p>
        Todos nuestros planes implican un pago mensual por tienda adherida a Loyal Guru.
<!--         <a href="/business/contact.html">free plan</a>. -->
      </p>
    </div>
    <div class="row faq">
      <div class="col-md-12">
        <div class="row header">
          <div class="col-md-12">
            <h3>Preguntas frecuentes</h3>
          </div>
        </div>
        <div class="row questions">
          <div class="col-md-6">
            <div class="question">
              <strong>Fee mensual tienda</strong>
              <p>
                Las tarifas de los diferentes planes se pagan mensualmente y por cada tienda conectada a la platafomra.
              </p>
            </div>
            <div class="question">
              <strong>Coste de integración</strong>
              <p>
                En el caso de estar interesado en integrar tus tpv's, tu sistema de e-commerce o tu ERP será necesario realizar un proyecto de integración. En la mayoría de ocasiones se trata de una integración sencilla de conexión con nuestra API y de exportación de ficheros .csv.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="question">
              <strong>Costes de SMS / MAIL / PUSH</strong>
              <p>
                Los costes del envío de SMS, MAIL o PUSH quedan excluidos del fee mensual, y se tendrán que comprar créditos a parte dentro de la aplicación para poder realizar envíos por estos canales.
              </p>
            </div>
            <div class="question">
              <strong>Marca Blanca</strong>
              <p>
                El plan personalizado ofrece la posibilidad de integrar en una App del cliente toda la funcionalidad de Loyal Guru, y permite ofrecer una experiencia de cara a al cliente completamente envuelta del ecosistema de la marca.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

