  <div id="tabs">
    <div class="container">
      <div class="row header">
        <div class="col-md-12">
          <h3>Cada consumidor cuenta</h3>
          <p>Crea una fuerte relación con tus clientes gracias a Loyal Guru</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 tabs-wrapper">
          <ul class="nav nav-tabs">
              <li class="active"><a href="#home" data-toggle="tab">Fidelización</a></li>
              <li><a href="#profile" data-toggle="tab">Marketing</a></li>
              <li><a href="#messages" data-toggle="tab">Operaciones</a></li>
<!--               <li><a href="#settings" data-toggle="tab">Get more done faster</a></li> -->
          </ul>

          <div class="tab-content">
              <div class="tab-pane fade in active" id="home">
                <div class="col-md-6 info">
                  <h4>Ofrece una tarjeta de fidelización digital a tus clientes</h4>
                  <p>El programa digital de fidelización de Loyal Guru hace fácil el convertir cada cliente en un cliente fiel. A medida que los clientes visitan tu negocio ellos podrán acumular puntos en función del dinero gastado, para posteriormente canjearlos por regalos o descuentos.
                  </p>
                  <p>
                    Y todo sin la necesidad de las antiguas tarjetas de puntos o fidelizaicón sino que con una aplicación en el smartphone.
                  </p>
                  <p>
                  <%= link_to "Saber más", "/business/loyalty.html", class: "button-outline" %>
                  </p>
                </div>
                <div class="col-md-6 image">
                  <%= image_tag "resources/screenshots/fidelizacion.png", class: "img-responsive img-bottom-border", alt: "pic1" %>
                </div>
              </div>
              <div class="tab-pane fade" id="profile">
                <div class="col-md-5 info">
                  <h4>Cada cliente es único y tus campañas deberían tener en cuenta eso</h4>
                  <p>
                   Con Loyal Guru es posible crear de forma sencilla potentes segmentos teniendo en cuenta los hábitos de consumo de tus clientes ( tiempo sin venir, productos favoritos, dinero gastado, etc...).
                  </p>
                  <p>
                  Segmenta tu base de clientes y enviales campañas personalizadas, o benefíciate de las campañas automáticas que se preocuparán de todo por ti.
                  </p>
                  <p>
                  <%= link_to "Saber más", "/business/marketing.html", class: "button-outline" %>
                  </p>
                </div>
                <div class="col-md-7 image">
                <br/>
                  <%= image_tag "resources/screenshots/marketing.png", class: "img-responsive", alt: "pic1" %>
                </div>

              </div>
              <div class="tab-pane fade" id="messages">
                <div class="col-md-4 info">
                  <h4>Dispon de métricas accionables</h4>
                  <p>
                    Entiende como mejorar cada aspecto del rendimiento de tus diferentes tiendas. Loyal Guru te permite disponer de una visión global de tus establecimientos teniendo en cuenta tus ventas, clientes, tráfico en tienda y vendedores. </p>
                  </p>
                  <p>
                  <%= link_to "Saber más", "/business/operations.html", class: "button-outline" %>
                  </p>
                </div>
                <div class="col-md-8 image">
                  <%= image_tag "resources/screenshots/operations-crop.png", class: "img-responsive img-bottom-border", alt: "pic1" %>
                </div>
              </div>

          </div>

          <br/><br/>
        </div>
      </div>
    </div>
  </div>
