

    <div  class="footer-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-2 menu">
          <h3>Para clientes</h3>
          <ul>
                <li>
                  <%= link_to '¿Que es Loyal Guru?', '/' %>
                </li>
                <li>
                  <%= link_to 'Descarga la App', '/download.html' %>
                </li>
              </ul>
        </div>
        <div class="col-sm-2 menu">
          <h3>Para negocios</h3>
          <ul>
                <li>
                    <%= link_to 'Fidelización', '/businessloyalty.html' %>
                </li>
                <li>
                    <%= link_to 'Marketing', '/business/marketing.html' %>
                </li>
                <li>
                    <%= link_to 'Operaciones', '/business/operations.html' %>
                </li>
                <li><%= link_to 'Planes', '/business/pricing.html' %></li>
                <li>
                    <%= link_to 'Descarga la App', 'business/download.html' %>
                </li>
              </ul>
        </div>
        <div class="col-sm-2 menu">
          <h3>Loyal Guru</h3>
          <ul>
            <!--<li>
                <a href="blog.html">Blog</a>
            </li> -->
            <li><%= link_to 'Contacta', '/business/contact.html' %></li>
            <li><%= link_to 'Política de privacidad', '/privacy_policy.html' %></li>
            <li><%= link_to 'Términos de uso', '/merchants_terms_of_use.html' %></li>
            <li><%= link_to 'Cookies', '/cookies.html' %></li>
            <li><%= link_to 'Soporte', '/support.html' %></li>
          </ul>
        </div>
        <div class="col-sm-2 menu">
          <h3>Social Media</h3>
          <ul>
                <li>
                  <a href="http://facebook.com/yourloyalguru">Facebook</a>
                </li>
                <li>
                    <a href="http://twitter.com/loyalguru">Twitter</a>
                </li>
              </ul>
        </div>
        <div class="col-sm-4 menu">

            <h3>
              Contacta
            </h3>
            <br/>
            <p>Llacuna 162-164<br/>
            Barcelona, 08018<br/>
            España
            </p>
            <p><strong>T:</strong> +34 93 551 14 43</p>
            <p><strong>M:</strong> info@loyal.guru</p>
          </ul>
          </div>
      </div>
      <div class="row credits">
        <div class="col-md-12">
          Copyright © 2015. Loyal Guru
        </div>
      </div>
    </div>
  </div>