

    <div id="navbar" class="navbar-right">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Política de privacidad', '/privacy_policy.html' %></li>
        <li><%= link_to 'Términos de uso para comerciantes', '/merchants_terms_of_use.html' %></li>
        <li><%= link_to 'Cookies', '/cookies.html' %></li>
        <li><%= link_to 'Soporte', '/support.html' %></li>
      </ul>
    </div><!--/.nav-collapse -->

  <%= google_analytics_universal_tag %>



</body>
</html>