<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Loyal Guru - Tu plataforma online de fidelización de clientes</title>
  <meta name="description" content="Una plataforma online para hacer marketing omnicanal, crear una experiencia in-store única, redirigir tráfico online a tus puntos de venta físicos y en general activar las ventas de tus establecimientos.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- stylesheets -->

    <!-- React -->
    <%= stylesheet_link_tag "compiled/theme.css" %>
    <%= stylesheet_link_tag "vendor/animate.css" %>
    <%= stylesheet_link_tag "vendor/brankic.css" %>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">    <!-- Custom -->
    <%= stylesheet_link_tag "styles.css" %>

  <!-- javascript -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <%= javascript_include_tag "bootstrap/bootstrap.min.js" %>
    <%= javascript_include_tag "theme.js" %>

  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>