<div id="home4">
  <div id="second-option">
    <div class="container">
      <div class="row">
        <div class="col-md-4 feature">
          <%= image_tag"images/circle-icons/full-color/profle.png", alt: "creditcard" %>
          <strong>Escoge que datos recoger de cada cliente</strong>
          <p>En Loyal Guru tu como empresa puedes determinar que campos tendrá que rellenar un usuario para obtener su tarjeta de fidelizaicón.</p>
        </div>
        <div class="col-md-4 feature">
          <%= image_tag"images/circle-icons/full-color/trophy.png", alt: "creditcard" %>
          <strong>Activa un programa puntos</strong>
          <p>Escoge la política de acumulación de puntos, los regalos que podrán obtener con los puntos o el periodo de caducidad de los mismos.</p>
        </div>
                <div class="col-md-4 feature">
          <%= image_tag"images/circle-icons/full-color/smartphone.png", alt: "creditcard" %>
          <strong>Cupones personalizados</strong>
          <p>Obsequia a tus clientes con cupones de descuento personalizados con numeración única para validar en punto de venta.</p>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4 feature">
          <%= image_tag"images/circle-icons/full-color/money.png", alt: "dev" %>
          <strong>Vínculo entre gasto de ticket y cliente</strong>
          <p>Muchos programas de fidelizaicón actuales se basan en premiar sólo el número de visitas a un establecimiento, con Loyal Guru podrás premiar el gasto en tu establecimiento.</p>
        </div>
        <div class="col-md-4 feature">
          <%= image_tag"images/circle-icons/full-color/dev.png", alt: "support" %>
          <strong>Integración con TPV, e-commerce o incluso ERP</strong>
          <p>Desde la tarje digital de fidelización el cliente podrá consultar sus puntos, los regalos que ofreces o los cupones acumulados, además podrá recibir notificaciones push que consideres interesantes.</p>
        </div>
        <div class="col-md-4 feature">
          <%= image_tag"images/circle-icons/full-color/heart.png", alt: "globe" %>
          <strong>Crea una divertida experiencia in-store para tus clientes</strong>
          <p>Tus clientes se lo pasarán bien consultando sus puntos, identificandose en el puntos de venta y en definitiva relacionandose con tu marca de una manera especial.</p>
        </div>
      </div>
    </div>
  </div>
</div>