<div id="services">
  <div id="grid-second">
    <div class="container">
      <div class="row features">
 <div class="col-md-6 feature">
          <%= image_tag "/images/circle-icons/full-color/smartphone.png", alt: "smartphone" %>
          <div class="info">
            <strong>Tarjeta de fidelización digital</strong>
            <p>Ponles la vida fácil a tus clientes. Que desde su smartphone puedan consultar sus puntos, cupones y demás acciones promocionales.</p>
          </div>
        </div>


        <div class="col-md-6 feature">
          <%= image_tag "/images/circle-icons/full-color/trophy.png" , alt:"smartphone" %>
          <div class="info">
            <strong>Programa de puntos</strong>
            <p>Podrás definir políticas de acumulación de puntos flexibles, configurar los periodos de caducidad y muchas cosas más. Los puntos podrán canjearse por regalos o incluso se podrán aplicar como descuento en las compras realizadas. </p>
          </div>
        </div>

      </div>

      <div class="row features">


        <div class="col-md-6 feature">
          <%= image_tag "/images/circle-icons/full-color/money.png" , alt:"support" %>
          <div class="info">
            <strong>Cupones personalizados</strong>
            <p>Entrega a tus clientes de forma digital cupones únicos personalizados que podrán canjearse en tus tiendas físicas o e-commerce. Realiza un seguimiento del ROI de las campañas de cupones.</p>
          </div>
        </div>

                <div class="col-md-6 feature">
          <%= image_tag "/images/circle-icons/full-color/gear.png" , alt:"smartphone" %>
          <div class="info">
            <strong>Campañas automáticas</strong>
            <p>Pon el sistema a trabajar por ti para aumentar ventas. Podrás configurar una serie de reglas para alertar a tus clientes en momentos clave. </p>
          </div>
        </div>


      </div>
      <div class="row features">
        <div class="col-md-6 feature">
          <%= image_tag "/images/circle-icons/full-color/trends.png" , alt:"globe" %>
          <div class="info">
            <strong>Dashboards 360º</strong>
            <p>Obtén en un único lugar paneles de control de KPI's relevantes. Información integrada de ventas, clientes, vendedores, tráfico en tienda, tiempo meteorológico y cualquier otra fuente de datos.</p>
          </div>
        </div>

         <div class="col-md-6 feature">
          <%= image_tag "/images/circle-icons/full-color/global.png" , alt:"location" %>
          <div class="info">
            <strong>Omnicanal</strong>
            <p>Podrás desplegar tus campañas y alertas en multitud de canales como el mail, SMS o notificaciones Push. Siempre pudiendo medir los diferentes impactos de cada una.</p>
          </div>
        </div>


      </div>
      <div class="row features">

        <div class="col-md-6 feature">
          <%= image_tag "/images/circle-icons/full-color/barchart.png" , alt:"support" %>
          <div class="info">
            <strong>Integración Business Inteligence</strong>
            <p>Loyal Guru permite la integración con los principales sistemas de Business Intelligence del mercado. ( SAP, Tableau, Qlik View, Micro Strategy, etc.)</p>
          </div>
        </div>
         <div class="col-md-6 feature">
          <%= image_tag "/images/circle-icons/full-color/dev.png" , alt:"support" %>
          <div class="info">
            <strong>API</strong>
            <p>Gracias a la API Rest de Loyal Guru es muy sencillo integrar la plataforma con tus TPV's, ERP, e-commerce u otros sistemas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>