  <header class="navbar navbar-inverse <%= htmlClass %>" role="banner">
      <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

              <%= link_to_i18n (image_tag "resources/logo-business.png", style: "max-width:222px;"), "/business/", class: "navbar-brand" %>

        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= t "menu.platform" %> <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to_i18n (t "menu.loyalty" ), '/business/loyalty.html' %></li>
                    <li><%= link_to_i18n 'Marketing', '/business/marketing.html' %></li>
                    <li><%= link_to_i18n (t "menu.operations" ), '/business/operations.html' %></li>
                  </ul>
              </li>

              <li><%= link_to_i18n (t "menu.plans" ), '/business/pricing.html' %></li>
              <li><%= link_to_i18n (t "menu.contact" ), '/business/contact.html' %></li>

              <li>
                  <a href="https://app.loyal.guru/#/signin" target="_blank" class="visible-md visible-lg ">Log in</a>
              </li>

              <li class="dropdown language-choser">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= t "menu.#{I18n.locale.to_s}" %> <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to (t "menu.es"), '/business/' %></li>
                    <li><%= link_to (t "menu.en" ), '/en/business/' %></li>
                  </ul>
              </li>

            </ul>
        </nav>
      </div>
  </header>