<div id="home4">
  <div id="second-option">
    <div class="container">
      <div class="row">
        <div class="col-md-4 feature">
          <%= image_tag"images/circle-icons/full-color/target.png", alt: "creditcard" %>
          <strong>Potente motor de segmentación de clientes</strong>
          <p>Segmenta a tus clientes en función del tiempo que llevan sin venir, de sus hábitos de consumo o de muchas otros factores.</p>
        </div>
        <div class="col-md-4 feature">
          <%= image_tag"images/circle-icons/full-color/gear.png", alt: "creditcard" %>
          <strong>Campañas automáticas</strong>
          <p>Pon a Loyal Guru a trabajar por ti enviando campañas a clientes en momentos determinados de su interacción con tus tiendas o con tu programa de puntos.</p>
        </div>
    <div class="col-md-4 feature">
          <%= image_tag"images/circle-icons/full-color/merge.png", alt: "support" %>
          <strong>Obten el ROI de tus campañas</strong>
          <p>¿Sabes que retorno real tuviste en tu última campaña de marketing? Con Loyal Guru podrás crear campañas vinculadas a cupones que te permitirán entender que ha pasado exactamente.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 feature">
          <%= image_tag"images/circle-icons/full-color/genius.png", alt: "dev" %>
          <strong>Despliegue multicanal</strong>
          <p>Gestiona desde una misma plataforma el envío de tus campañas por SMS, Mail o PUSH, y obtén paneles de medición del impacto en los diferentes canales.</p>
        </div>
    
                <div class="col-md-4 feature">
          <%= image_tag"images/circle-icons/full-color/pie-chart.png", alt: "support" %>
          <strong>Dashboard de analítica</strong>
          <p>Dispon de métricas accionables en un simple panel de control.</p>
        </div>

        <div class="col-md-4 feature">
          <%= image_tag"images/circle-icons/full-color/location.png", alt: "dev" %>
          <strong>Marketing de proximidad ( Beacons )</strong>
          <p>Gracias al uso de una nueva tecnología, los Beacons, serás capaz de impactar al cliente cuando pase cerca de tu tienda o cuando esté en una zona en conreto de tu establecimiento</p>
        </div>

      </div>

    </div>
  </div>
</div>