<div id="home4">
  <div id="second-option">
    <div class="container">
      <div class="row">
        <div class="col-md-4 feature">


          <%= image_tag"images/circle-icons/full-color/money.png", alt: "creditcard" %>
          <strong>Seguimiento on-line de las ventas en tus tiendas</strong>
          <p>Integra tanto las ventas asociadas a clientes registrados como las ventas huérfanas, todo para tener una único panel de control.</p>
        </div>
        <div class="col-md-4 feature">
          <%= image_tag"images/circle-icons/full-color/tools.png", alt: "creditcard" %>
          <strong>Integración TPV - Beacons</strong>
          <p>Serás capaz de calcular la efectividad de la conversión entre visitantes y compradores.</p>
        </div>
    <div class="col-md-4 feature">
          <%= image_tag"images/circle-icons/full-color/rainbow.png", alt: "support" %>
          <strong>Vendedores</strong>
          <p>Diseña sistemas de recompensa a tus vendedores en función de rankings de ventas, atención al cliente y otros objetivos.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 feature">
          <%= image_tag"images/circle-icons/full-color/shoeprints.png", alt: "dev" %>
          <strong>Integración sistemas conteo puertas</strong>
          <p>Loyal Guru se integra con los principales sistemas de conteo de accessos y control de zonas calientes en tienda.</p>
        </div>
    
        <div class="col-md-4 feature">
          <%= image_tag"images/circle-icons/full-color/barchart.png", alt: "support" %>
          <strong>Integración con Business Intelligence</strong>
          <p>Tendrás la posibilidad de añadir una capa de Business Intelligence. Fácil integración con Tableau, Micro Strategy, Qlik View y muchos más.</p>
        </div>

        <div class="col-md-4 feature">
          <%= image_tag"images/circle-icons/full-color/dev.png", alt: "dev" %>
          <strong>API</strong>
          <p>La potente API Rest de Loyal Guru permite la integración de TPV's, e-commerce o el ERP de tu empresa.</p>
        </div>

      </div>

    </div>
  </div>
</div>