<div id="home4">
  <div id="second-option">
    <div class="container">
      <div class="row">
        <div class="col-md-4 feature">
          <%= image_tag"images/circle-icons/full-color/profle.png", alt: "creditcard" %>
          <strong><%= t "business.loyalty.feature_sub_title_1" %></strong>
          <p><%= t "business.loyalty.feature_sub_body_1" %></p>
        </div>
        <div class="col-md-4 feature">
          <%= image_tag"images/circle-icons/full-color/trophy.png", alt: "creditcard" %>
          <strong><%= t "business.loyalty.feature_sub_title_2" %></strong>
          <p><%= t "business.loyalty.feature_sub_body_2" %></p>
        </div>
                <div class="col-md-4 feature">
          <%= image_tag"images/circle-icons/full-color/smartphone.png", alt: "creditcard" %>
          <strong><%= t "business.loyalty.feature_sub_title_3" %></strong>
          <p><%= t "business.loyalty.feature_sub_body_3" %></p>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4 feature">
          <%= image_tag"images/circle-icons/full-color/money.png", alt: "dev" %>
          <strong><%= t "business.loyalty.feature_sub_title_4" %></strong>
          <p><%= t "business.loyalty.feature_sub_body_4" %></p>
        </div>
        <div class="col-md-4 feature">
          <%= image_tag"images/circle-icons/full-color/dev.png", alt: "support" %>
          <strong><%= t "business.loyalty.feature_sub_title_5" %></strong>
          <p><%= t "business.loyalty.feature_sub_body_5" %></p>
        </div>
        <div class="col-md-4 feature">
          <%= image_tag"images/circle-icons/full-color/heart.png", alt: "globe" %>
          <strong><%= t "business.loyalty.feature_sub_title_6" %></strong>
          <p><%= t "business.loyalty.feature_sub_body_6" %></p>
        </div>
      </div>
    </div>
  </div>
</div>